@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body { @apply scrollbar font-oufit overflow-x-hidden; }
    header, main, footer {
        width: 82%; 
        transition: width 0.5s ease, margin 0.5s ease;
        @apply rounded-md; 
    }

    header { @apply flex flex-col mt-6 z-10 shadow-xl bg-base-200; }
    main { @apply mt-6 }
    footer { @apply bg-base-200 mt-8 mb-6 flex justify-center; }

    @media (max-width: 1280px) { header, main, footer { width: 85%; } }
    @media (max-width: 640px) { header, main, footer { width: 94%; } }
 }
 
@layer components {
 
    #app { @apply flex flex-col items-center; }
    #intro { @apply mt-8 py-10; }
    #portfolio { @apply px-4 bg-base-100 mt-2; }
    #copyright { @apply p-6; }
    .frame { @apply bg-base-200 mt-14 py-14 px-10 rounded-md; }
    .fix-header { @apply fixed mt-[0px] w-screen}
    .navbar { @apply overflow-hidden z-10 py-2 px-6 ; }
    .navbar .menu { @apply menu-horizontal; }
    .navbar .menu li { transition: margin 0.5s ease; }
    .navbar .menu a { @apply rounded-md; }
    .menu a { 
        letter-spacing: 1px;
        font-weight: 500; 
    }
    .navbar-center { @apply flex }
    #mobileDropdown { 
         @apply self-start w-full max-h-0 overflow-hidden;
         transition: max-height 0.5s ease;
     }
 
    #mobileDropdown.show { max-height: 285px;}
    #mobileDropdown .menu { @apply menu-vertical px-4 }
 
    #logo-text {
         @apply btn btn-ghost normal-case text-4xl font-bold;
         background-image: linear-gradient(135deg, rgb(255, 140, 5) 0%, rgb(214, 26, 94) 100%);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
     }


    #theme-switch { @apply swap swap-rotate mr-8 ; }
    #menu-switch { @apply btn btn-circle btn-ghost swap swap-rotate ; }

    .main-button {
        @apply normal-case rounded-md flex font-medium border-none cursor-pointer select-none transition-all;
        padding: 8px 16px 8px 12px;
        background-size: 200% auto;
        color: #1F2937;
        box-shadow: 0px 0px 14px -7px #f09819;
        background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
        touch-action: manipulation;
        transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
        transition-duration: 200ms;
    }

    .main-button:hover {
        background-position: right center;
        color: #1F2937;
        text-decoration: none;
    }
       
    .main-button:active { transform: scale(0.9);}
    .download-resume { @apply mr-4; }
    .download-resume-mobile { @apply ml-8 mb-8; }


    .intro-left { width: 620px}
    .intro-image { 
      width: 320px;
      filter: drop-shadow(-3px 17px 8px rgba(0, 0, 0, 0.3));}

    #intro .job-title {
        background-image: linear-gradient(135deg, rgb(255, 140, 5) 0%, rgb(214, 26, 94) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #skills .skill { @apply pb-4; }
    #skills .skill-title { @apply pb-2; }
    #skills .skill-progress { @apply bg-[#414141]; } /* <!-- bg-neutral-700 -->*/
    #skills .skill-progress div {
        @apply h-1.5;
        background: linear-gradient(135deg, rgb(255, 140, 5) 0%, rgb(214, 26, 94) 100%);
        width: 0%;
        transition: width 1s ease-in-out;
    }

    #daisy-filters input { @apply transition-none; }
    #daisy-filters input[type="radio"]:checked{
        @apply bg-primary;
        /* background: #ff8c05; */
        color: white;
    }

    #portfolio .project { @apply transition-none; }

    .project {
        @apply bg-base-200;
        width: 518px;
        height: 450px;
        margin: 10px;
    }

    #contact .content-right input{
        width: 250px;
    }

    #contact .content-right .form-control {
        border: 0;
        border-bottom: 1px solid #525252;
        border-radius: 0;
        background: transparent;
        padding: 0;
        color: #fff;
    }

    #contact .content-right .form-control:hover {
        border-color: #ff8c05;;
    }

    #contact .content-right .form-control:focus {
        outline: 0;
        box-shadow: none;
        border-color: #ff8c05;
    }




    /* #contact .content-right .form-control.is-invalid {
        border-color: var(--error-color);
    }

    #contact .content-right .button {
        margin-top: 30px;
        margin-right: 40px;
    }

    #contact .success-msg {
        color: var(--success-color);
        font-size: 18px;
        padding-top: 30px;
    }

    #contact .error-msg {
        color: var(--error-color);
        font-size: 18px;
        padding-top: 30px;
    }


    #contact .content-right .button.send-msg.loading {
        cursor: not-allowed;
        background: var(--locked-gradient-moz);
        background: var(--locked-gradient-webkit);
        background: var(--locked-gradient);
    }

 */









    @media (min-width: 1280px) { #menu-switch { display: none; }}
    @media (max-width: 640px) {}
    @media (max-width: 768px) {}
    @media (max-width: 1024px) {}
    @media (max-width: 1280px) {
        .download-resume { display: none }
        .navbar-center { display: none }
        #theme-switch { @apply mr-5}
    }
}
 
@layer utilities {
     .scrollbar::-webkit-scrollbar {
         width: 12px;
     }
 
     .scrollbar::-webkit-scrollbar-thumb {
         background: linear-gradient(135deg, #ff8c05 0%, #d61a5e 100%);
         border-radius: 2px;
     }
 
     .scrollbar::-webkit-scrollbar-thumb:hover {
         background: linear-gradient(135deg, #ff8c05 0%, #d61a5e 65%);
     }
}
 



