@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body { 
        @apply scrollbar overflow-x-hidden; 
        font-family: "Outfit", sans-serif; 
    }
    header, main, footer {
        @apply rounded-md;
        width: 82%;
        transition: width 0.5s ease, margin 0.5s ease;
    }

    header { @apply flex flex-col mt-6 z-10 shadow-xl bg-base-200; }
    main { @apply mt-6; }
    footer { @apply bg-base-200 mt-8 mb-6 flex justify-center; }

    @media (width < 1280px) { header, main, footer { width: 85%; } }
    @media (width < 1024px) { header, main, footer { width: 80%; } }
    @media (width < 640px) { header, main, footer { width: 90%; } }
    @media (width < 420px) { header, main, footer { width: 95%; } }
}

@layer components {
    #app { @apply flex flex-col items-center; }
    .frame { @apply bg-base-200 mt-14 py-14 px-5 xs:px-8 sm:px-10 rounded-md; }
    .fix-header { @apply fixed mt-[0px] w-screen; }
    .navbar { @apply overflow-hidden z-10 py-2 px-2 md:px-6; }
    .navbar .menu { @apply menu-horizontal; }
    .navbar .menu li { transition: margin 0.5s ease; }
    .navbar .menu a { @apply rounded-md;}
    .menu a { letter-spacing: 1px; font-weight: 500; }
    .navbar-center { @apply flex; }
    .navbar-center .menu a { @apply transition-none; }
    #mobileDropdown { 
        @apply self-start w-full max-h-0 overflow-hidden;
        transition: max-height 0.5s ease;
    }
    #mobileDropdown.show { 
        @apply 2xl:hidden;
        max-height: 285px; 
    }
    #mobileDropdown .menu { @apply menu-vertical px-4; }
    #mobileDropdown .menu a { @apply transition-none; }
    #logo-text {
        @apply btn btn-ghost normal-case font-bold text-3xl md:text-4xl;
        background-image: linear-gradient(135deg, rgb(255, 140, 5) 0%, rgb(214, 26, 94) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    #theme-switch { @apply swap swap-rotate mr-1 md:mr-4 lg:mr-6 2xl:mr-8; }
    #menu-switch { @apply btn btn-circle btn-ghost swap swap-rotate 2xl:hidden; }

    .button-effect {
        @apply cursor-pointer select-none transition-transform normal-case;
        touch-action: manipulation;
        transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
        transition-duration: 200ms;
    }
    .button-effect:active { transform: scale(0.9); }

    .main-button {
        @apply rounded-md flex font-medium border-none;
        box-shadow: 0px 0px 14px -7px #f09819;
        padding: 8px 16px 8px 12px;
        background-size: 200% auto;
        color: #1f2937;
        background-image: linear-gradient(45deg, #ff512f 0%, #f09819 51%, #ff512f 100%);
    }
    .main-button:hover { background-position: right center; color: #1f2937; text-decoration: none; }
    .main-button:active { transform: scale(0.9); }
    .sub-button {
        box-shadow: 0px 0px 14px -7px #f09819;
        color: #1f2937;
        background-image: linear-gradient(45deg, #ff512f 20%, #f09819 100%, #ff512f 100%);
    }

    .download-resume { @apply mr-4; }
    .download-resume-mobile { @apply ml-8 mb-8; }
    .mini-title { @apply text-xl uppercase tracking-wider text-orange-500; }
    .mini-highlight { @apply hidden lg:block text-3xl font-black leading-9; }
    .section-title { @apply font-bold mb-6 text-orange-500 text-center;
        font-size: 28px;
    }

    /* Preloader */
    #preloader { @apply relative flex justify-center items-center h-screen; }

    /*Intro*/
    #intro { @apply mt-8 py-10; }
    #intro .section-content { @apply flex flex-col items-center lg:flex-row; }
    #intro .section-content .intro-left { @apply order-2 lg:order-1 flex flex-col items-center text-center lg:text-left lg:items-start lg:w-1/2 xl:w-8/12; }
    #intro .section-content .intro-left .header { @apply text-3xl xs:text-4xl xl:text-5xl; }
    #intro .section-content .intro-left .header .dot { @apply text-orange-500 text-3xl ml-0.5; }
    #intro .section-content .intro-left .summary { @apply py-6 lg:py-12 text-xl xl:text-2xl; }
    #intro .section-content .intro-right { @apply order-1 lg:order-2 lg:w-1/2 xl:w-5/12; }
    #intro .section-content .intro-right .intro-image{ @apply mx-8 mt-1.5 mb-4; }
    .intro-image { 
        @apply mx-8 mt-1.5 mb-4 w-[240px] xs:w-[260px] md:w-[300px];
        filter: drop-shadow(-3px 17px 8px rgba(0, 0, 0, 0.3));
    }
    #intro .job-title {
        background-image: linear-gradient(135deg, rgb(255, 140, 5) 0%, rgb(214, 26, 94) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    /*About*/
    #about .section-title { @apply lg:text-left; }
    #about .section-content p { @apply leading-7}

    /*Skills*/
    #skills .section-content .skill-block { @apply flex flex-col lg:grid lg:grid-cols-2; }
    #skills .section-content #data-analytics,#skills .section-content #web-technologies { @apply pt-12;}
    #skills .section-content .skills-left { @apply pr-6; }
    #skills .section-content .skills-right { @apply pt-5 lg:pr-4 lg:pl-5 lg:pt-0; }
    #skills .skill { @apply pb-4; }
    #skills .skill-title { @apply pb-2; }
    #skills .mini-title { @apply mb-0 lg:mb-2; }
    #skills .skill-progress { @apply bg-[#414141]; } /* <!-- bg-neutral-700 -->*/
    #skills .skill-progress div {
        @apply h-1.5;
        background: linear-gradient(135deg, rgb(255, 140, 5) 0%, rgb(214, 26, 94) 100%);
        width: 0%;
        transition: width 1s ease-in-out;
    }
    #skills h3 { font-family: "Roboto", sans-serif }

    /*Portfolio*/
    #portfolio { @apply px-0 bg-base-100 mt-2 ; }
    #portfolio .section-filters { @apply flex flex-col justify-center items-center; }
    #portfolio #daisy-filters { @apply pb-5 flex flex-wrap justify-center; }
    #portfolio #daisy-filters input { @apply transition-none rounded-none; }
    #portfolio #daisy-filters input[type="radio"]:checked { 
        @apply bg-primary; 
        color: white; 
    }
    #portfolio .projects { @apply flex justify-center items-center; }
    #portfolio .project { 
        @apply transition-none bg-base-200;
        margin: 10px; 
        transition: box-shadow 0.2s;
        /* transition: transform 0.2s; */
    }
    #portfolio .project:hover {
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
        transform: scale(1.01);
    }
    #portfolio .project .meta-data { @apply px-5 py-5 flex flex-col h-full; }
    #portfolio .project .meta-data .title { @apply font-bold m-0 text-2xl ;}
    #portfolio .project .meta-data .description { @apply pt-4  text-primary-content text-lg mb-6 lg:mb-4 }
    #portfolio .project .meta-data .tags { @apply flex flex-wrap gap-1.5 items-center; }

    .tags .tag { @apply m-0 px-2 py-1 rounded-md text-sm;  }
    .tags .excel { @apply text-white bg-green-500; }
    .tags .tailwind { @apply text-white bg-[#38bdf8];  }
    .tags .daisy{ @apply text-white bg-[#1ad1a5]; }
    .tags .bootstrap{ @apply text-white bg-[#563d7c]; }
    .tags .jquery{ @apply text-white bg-[#0769ad]; }
    .tags .javascript { @apply text-black bg-[#f7df1e]; }
    .tags .svelte { @apply text-white bg-orange-500; }
    .tags .nodejs { @apply text-white bg-[#3c873a]; }
    .tags .express { @apply text-white bg-[#000000]; }
    .tags .github{ @apply text-white bg-[#000000]; }
    .tags .hygraph{ @apply text-white bg-[#000000]; }
    .tags .git{ @apply text-black bg-orange-600; }
    .tags .firebase { @apply text-black bg-yellow-500; }
    .tags .puppeteer { @apply text-black bg-teal-500}
    .tags .gsheets { @apply text-black bg-green-500}
    .tags .render { @apply text-white bg-green-700}
    .tags .gcloud { @apply text-white bg-[#4285F4]; }
    .tags .swiper_js { @apply text-white bg-[#38bdf8];  }
    .tags .isotope { @apply text-white bg-amber-600; }
    .tags .vite { @apply text-white bg-purple-600; }
    .tags .filterizr { @apply text-white bg-blue-700; }
    .tags .cheerio { @apply text-white bg-[#e88c1f]}
    .tags .http-proxy { @apply text-white bg-cyan-800}


    /*Qualifications*/
    #qualifications .section-title { @apply mb-8; }
    #qualifications .section-container{ @apply relative mt-5 bg-base-200; }
    #qualifications #vibe-bar { @apply absolute top-0 -ml-[8px] h-full w-4 rounded-full bg-base-100 xl:left-1/2; }
    #qualifications #vibe-bar .bar-container { @apply sticky top-1/2; }
    #qualifications #vibe-bar .bar-container > div { @apply relative h-4 w-4; }
    #qualifications #vibe-bar .background { @apply absolute h-4 w-4 animate-ping rounded-full bg-orange-300 opacity-75; }
    #qualifications #vibe-bar .foreground { @apply  relative h-4 w-4 rounded-full bg-orange-500; }
    #qualifications .qualifications-container { @apply grid grid-cols-1 xl:grid-cols-2 gap-x-8 gap-y-6 xl:gap-y-14 pl-8 xl:pl-0; }
    #qualifications .experience { @apply xl:pl-5; }
    #qualifications .title { @apply font-bold text-xl leading-8 mb-2; }
    #qualifications .education { @apply xl:pl-5; }
    #qualifications .organization { @apply text-primary-content text-lg leading-8; }

    /*Contact*/
    #contact .contact-container { @apply flex flex-col gap-12 lg:gap-0 lg:grid lg:grid-cols-2; }
    #contact .content-left { @apply flex flex-col gap-8 mr-5; }
    #contact .content-left .section-title { @apply lg:text-left mb-0; }
    #contact .content-left .contact-highlight { @apply leading-8 text-3xl; }
    #contact .content-left #social-medias { @apply flex gap-6 lg:gap-8 mt-2; } 
    #contact .content-right { @apply flex flex-col gap-8; }
    #contact .content-right .form-control {
        border: 0;
        border-bottom: 1px solid #525252;
        border-radius: 0;
        background: transparent;
        padding: 0;
    }
    #contact .content-right .form-control:hover { border-color: #ff8c05; }
    #contact .content-right .form-control:focus {
        outline: 0;
        box-shadow: none;
        border-color: #ff8c05;
    }
    #contact .content-right .contact-info { @apply flex gap-6 flex-col xl:flex-row; }
    #contact .content-right .contact-info .form-control { @apply h-10 w-full; }
    #contact .content-right .contact-msg .form-control { @apply w-full; }
    #contact .content-right .contact-button { @apply pt-6; }
    #contact .content-right .form-control.is-invalid { border-color: #DB005B; }
    #contact .success-msg {
        color: #70e000;
        font-size: 18px;
        padding-top: 30px;
    }

    #contact .error-msg {
        color: #DB005B;
        font-size: 18px;
        padding-top: 30px;
    }

    #contact .content-right .send-msg.sending {
        cursor: not-allowed;
        /* background: linear-gradient(to right, #605C3C, #3C3B3F); 
        background: -moz-linear-gradient(to right, #605C3C, #3C3B3F);
        background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);  */
    }

    /*Copyright*/
    #copyright { @apply p-6 text-center;}


    /* Project */
    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img { user-select: none;}
    .box img { @apply w-full }

    #project-container { @apply mt-4 bg-base-200 pb-12;}
    #project-content, #project-pagination { @apply pt-8 xl:pt-14 px-4 sm:px-6 md:px-10 lg:px-14; }
    #project-image img { @apply xl:rounded-t-md border border-white border-opacity-20 w-full; }
    #project-content #project-about { @apply flex flex-col xl:flex-row pb-6; }
    #project-content #left { @apply xl:w-7/12  2xl:w-3/5; }
    #project-content #left .title { @apply font-extrabold text-3xl xl:text-4xl; }
    #project-content #left p { @apply text-lg; }
    #project-content #left .tech-stack { @apply pb-8 xl:pb-0; }
    #project-content #left .tech-stack .tags { @apply flex flex-wrap gap-2; }
    #project-content #right { @apply xl:w-5/12 2xl:w-2/5 xl:ml-8 bg-base-100 border border-secondary border-opacity-20 rounded-md px-8 py-10 pt-6; }
    #project-content #right .top { @apply mt-3 mb-8 flex flex-col gap-4; }
    #project-content #right .top .head { @apply flex items-center gap-2; }
    #project-content #right .top h4 { @apply font-light mt-1.5; }
    #project-content #right .top h3 { @apply m-0 p-0; }
    #project-content #right .bottom { @apply mt-6 flex items-center flex-wrap gap-4; }
    #project-content #right .bottom a { @apply no-underline; }
    #project-content #right .bottom button { @apply flex items-center gap-2 rounded-lg px-2.5 py-2; }
    #project-content #right .bottom .github-link button { @apply border border-secondary button-effect text-secondary; }
    #project-content #right .bottom .website-link button { @apply sub-button button-effect text-black; }
    
    #project-content #project-description { @apply mt-4;}
    #project-content #project-description .image{ @apply flex justify-center;}
    #project-content #project-description .image img{ @apply border border-secondary border-opacity-20 m-0; }
    #project-content #project-description .title { @apply text-xl font-semibold;}
    #project-content #project-description .title h3 { @apply mt-0;}
    #project-content #project-description p { @apply text-lg; }
    #project-content #project-description .features .desc { @apply list-disc flex flex-col; }
    #project-content #project-description .features h4 { @apply mb-0 font-semibold text-xl inline; }
    #project-content #project-description .features p { @apply mt-1 inline; }


    #project-pagination { @apply flex w-full justify-between pt-8 gap-4; }
    #project-pagination button { @apply font-bold text-orange-700 uppercase flex items-center button-effect gap-0.5 sm:gap-1; }
    html[data-theme="dark"] #project-pagination button { @apply text-orange-500 ; }


    /* Media quieries*/
    @media (width >= 768px) { 
        .project { width: calc(49.33% - 20px); } 
        #portfolio .project .meta-data .description { height: 205px; }
    }
    @media (width >= 1024px) { .project { width: calc(33.33% - 20px); } } 
    @media (width < 1024px) {}
    @media (width < 1280px) {
        .download-resume { @apply hidden }
        .navbar-center { @apply hidden}
    }

}

@layer utilities {
    .scrollbar::-webkit-scrollbar { width: 12px;}
    .scrollbar::-webkit-scrollbar-thumb {
        background: linear-gradient(135deg, #ff8c05 0%, #d61a5e 100%);
        border-radius: 2px;
    }
    .scrollbar::-webkit-scrollbar-thumb:hover { 
        background: linear-gradient(135deg, #ff8c05 0%, #d61a5e 65%);
    }
}


